html, body, ul, ol, li, h1, h2, p{
    margin: 0;
    padding: 0;
}
ul, ol, li {
    list-style: none;
}
.hide {
    display: none;
}
.show {
    display: block;
}
html, body {
    position: relative;
    height: 100%;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.body {
    width: 100%;
    min-height: 100%;
    min-width: 320px;
    max-width: 980px;
    position: relative;
    margin: 0 auto;
}
.pb10 {
    padding-bottom: 10px;
}
.mt30 {
    margin-top: 30px;
}
.mt20 {
    margin-top: 20px;
}
.mt15 {
    margin-top: 15px;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.pd-lr {
    padding: 0 2%;
}
.pb5 {
    padding-bottom: 5px;
}
.pd-lr25 {
    padding: 0 12px;
}
.pd-lr20 {
    padding: 0 10px;
}
.pd-lr1{
    padding: 0 4%;
}
.bg-color {
    background-color: #3d4055;
}
.bg-color1 {
    background-color: #fc4f02;
}
.ac {
    text-align: center;
}
.ar {
    text-align: right;
}
.al {
    text-align: left;
}
.bold {
    font-weight: bold;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/************************************************  animated ************************************************/

.animated {
    -webkit-animation-duration: .6s;
    animation-duration: .8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: cubic-bezier(.25,.1,.25,1);
    animation-timing-function: cubic-bezier(.25,.1,.25,1);
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.direction {
  -webkit-animation-direction:alternate;
  animation-direction: alternate;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
    -webkit-animtaion-name: fadeInUp;
    animation-name: fadeInUp;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
  }
}


@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

.fadeOutDown {
    -webkit-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
}

@-webkit-keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
  }
}


@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

.fadeOutLeft {
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}